/* Header */

.gnb-wrap {
    width: 100%;
}
/* gnb-up */

.gnb-up {
    max-width: 1920px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding: 0 38px 0 36px;
    background-color: rgb(245, 245, 245);
}

.brand,
.user-menu {
    display: flex;
    align-items: center;
}

.brand-item a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: rgb(17, 17, 17);
}

.user-menu li {
    height: 100%;
    position: relative;
}

.user-menu li ~ li:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 1px;
    height: 12px;
    background-color: rgb(17, 17, 17);
}

.user-menu li a {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 12px;
    margin: 0 12px;
    color: rgb(17, 17, 17);
}

.user-menu li:last-child a {
    margin-right: 8px;
}

/*gnb-down */

.gnb-down {
    position: relative;
    max-width: 1920px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 38px 0 36px;
}

.nav-box,
.acct-btn {
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 12px;
}

.nav-box a {
    display: block;
    padding: 16px 12px 18px 12px;
    margin-bottom: 2px;
    color: rgb(17, 17, 17);
}

.nav-box a:hover {
    border-bottom: 2px solid rgb(17, 17, 17);
}

.acct-btn a {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
}

.acct-btn li:first-child a {
    margin-right: 12px;
}

.search {
    position: absolute;
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    right: 142px;
}

.search input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

::placeholder {
    padding: 8px 48px;
    font-size: 16px;
    opacity: 0.5;
}

.search button {
    position: absolute; /*부모가 absolute일때 자식도 absolute 설정하면 부모박스 안에서 위치값 정해짐*/
    top: 11px;
    left: 1px;
    padding: 6px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}

.acct-btn a:hover,
.search input:hover,
.search button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Main */

.main-wrap {
    width: 100%;
}
/* Banner */

.banner {
    width: 100%;
    padding-top: 10px;
    min-height: 58px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.banner p {
    font-size: 14px;
    line-height: 1;
}

.banner a {
    font-size: 12px;
    line-height: 2;
    text-decoration: underline;
    color: rgb(17, 17, 17);
}

/* Visual-1 */

.visual-1-wrap {
    max-width: 100%;
    margin: 0 47.5px;
}

.visual {
    position: relative;
    padding: 0 8px;
}

.text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 36px 36px;
    color: rgb(245, 245, 245);
}

.visual img {
    width: 100%;
    height: 100%; /*img에는 크기 %를 적용해야 브라우저 크기에 따라 크기변화 된다*/
}

.text-box h2 {
    font-family: "Nike Futura";
    font-size: 72px;
    line-height: 0.83;
    margin-bottom: 8px;
}

.text-box a {
    display: inline-block;
    padding: 8px 28px;
    line-height: 24px;
    margin: 24px 6px 0 0;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    border-radius: 20px;
}
